@model IEnumerable<Agenda.Models.contacto>
@{
    ViewData["Title"] = "Index";
    string searchString = ViewData["CurrentFilter"] as string;
}
<br />
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <a href="@Url.Action("Details", "Contactos", new { id = item.Id })" style="text-decoration: none; color: inherit;">
                <div class="card h-100">
                    @if (item.ImagenPerfil != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(item.ImagenPerfil)" class="card-img-top card-img" alt="Perfil" style="height: 200px;" />
                    }
                    else
                    {
                        <div class="card-img-top card-img bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 200px;">
                            <span>@item.Nombre.Substring(0, 1).ToUpper()</span>
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <hr class="separador" />
                        <p class="card-text">@item.Telefono</p>
                    </div>
                </div>
            </a>
        </div>
    }
    
</div>








   

