@model Agenda.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout"; 
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Fila anidada dentro del cuerpo de la tarjeta -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> <!-- Imagen de login -->
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">bienvenido!</h1> <!-- Título de la sección -->
                                </div>
                                <form class="user" asp-action="Login" method="post">
                                    <div class="form-group">
                                        <input asp-for="Username" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="usuario">
                                        <span asp-validation-for="Username" class="text-danger"></span> <!-- Validación de Username -->
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña" type="password">
                                        <span asp-validation-for="Password" class="text-danger"></span> <!-- Validación de Password -->
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label> <!-- Checkbox de recordar sesión -->
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button> <!-- Botón de login -->
                                    @if (ViewData["LoginError"] != null)
                                    {
                                        <div class="text-danger text-center mt-3">@ViewData["LoginError"]</div> <!-- Mensaje de error de login -->
                                    }
                                </form>
                                <hr>
                                <button type="button" class="btn btn-google btn-user btn-block" onclick="window.location.href = '@Url.Action("Register", "Usuario")'">
                                    ¿no tienes una cuenta? registrate ahora
                                </button> <!-- Botón de redirección al registro -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); // Scripts de validación
    }
}



<link href="~/startbootstrap/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Rutas a los archivos JavaScript -->
<script src="~/lib/startbootstrap/vendor/jquery/jquery.min.js"></script>
<script src="~/lib/startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/startbootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/lib/startbootstrap/js/sb-admin-2.min.js"></script>
